<div id="app">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a routerLink="/" class="navbar-brand">Phare It!</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item"><a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a></li>
          <li class="nav-item" *ngIf="isLoggedIn"><a routerLink="/library" routerLinkActive="active" class="nav-link">Library Manager</a></li>
        </ul>

        <div class="text-end" *ngIf="!isLoggedIn">
          <a routerLink="/register" role="button" class="btn btn-warning">Sign Up</a>&nbsp;
          <a routerLink="/login" role="button" class="btn btn-outline-success">Login</a>
        </div>

        <div class="text-end" *ngIf="isLoggedIn">
          <a role="button" class="btn btn-outline-danger" (click)="logout()">LogOut</a>
        </div>
      </div>

    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
